/*
 * This file is part of Transmission Daemon NG.
 * https://gitlab.gnome.org/glerro/gnome-shell-extension-transmission-daemon-ng
 *
 * stlyesheet.css
 *
 * Copyright (c) 2023-2024 Gianni Lerro {glerro} ~ <glerro@pm.me>
 *
 * Transmission Daemon NG is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Transmission Daemon NG is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with Transmission Daemon NG. If not, see <https://www.gnu.org/licenses/>.
 *
 * *****************************************************************************
 * Original Author: Jean-Philippe Braune - https://github.com/eonpatapon
 *                  Kevin James - https://github.com/TheKevJames
 * *****************************************************************************
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2023-2024 Gianni Lerro <glerro@pm.me>
 */

/* - Controls - */
.torrents-controls {
    min-width: 450px;
}

.torrents-controls:hover {
    transition-duration: 100ms;
    background-color: transparent;
    background-color: none;
    }

.torrents-controls-vbox {
    spacing: 10px;
}

.torrents-controls-btn {
    spacing: 5px;
}

.torrents-controls-text {
    color: white;
}


/* - Top Controls - */
.torrents-add {
    spacing: 5px;
}

.add-entry:error {
    color: red;
}


/* - Torrent Normal Menu - */
.torrent-name {
    font-weight: bold;
    padding: .5em 0px 3px 10px;
}

.torrent-name-text {
    max-width: 350px;
}

.torrent-menu-controls {
    spacing: 3px;
    padding-right: 5px;
}

.torrent-infos {
    font-size: 80%;
    padding: 0 0 0 13px;
}

.torrent-error {
    margin-top: 3px;
    margin-right: 5px;
}

.torrent-error-text {
    background: #E61919;
}

.size-info {
    padding-bottom: .5em;
}

.progress-bar {
    -background: #444444;
    margin-left: 5px;
    margin-right: 5px;
    -bar-height: 12px;
    -bar-color: #333333;
    -bar-border-width: 2px;
    -bar-border-color: #5F5F5F;
    -download-color: #76B0EC;
    -download-border-color: #1F6DBC;
    -seed-color: #45E43C;
    -seed-border-color: #298924;
    -uploaded-color: #36B22F;
    -idle-color: #888888;
    -idle-border-color: #666666;
}


/* - Torrent Menu Small - */
.torrent-menu-small {
    font-weight: bold;
    padding: .3em 0px 3px 10px;
}

.torrent-name-text-small {
    font-size: 90%;
    max-width: 300px;
}

.torrent-infos-small {
    font-size: 80%;
    padding: 0 0 0 13px;
}

.torrent-ratio {
    color: #AAAAAA;
}

.torrent-download-rate {
    color: #97EE4D
}

.torrent-upload-rate {
    color:#4DBFEE
}

.torrent-percent-done {
    color: #CCCCCC;
}

.torrent-error-small {
    color: #E61919;
}

